/* GENERAL STYLING IRRESPECTIVE OF SCREENSIZE */

/* h2 {
    text-align: center;
} */

mat-dialog-content {
  --mat-dialog-content-padding: 0;
}

.signup-login-submit-button {
    margin-top: 1em;
  }

.student-nationality-information {
    /* css for the nationality information part of the form */
    color: white;
    margin-bottom: 1em;
}

.student-scholarship-information {
    /* css for the scholarship information part of the form */
    color: white;
    margin-bottom: 1em;
}

.scholarship-gained-info-group {
    color: white;
}

  /* //////////////////////////////////////// */

/* For phone in portrait  */
@media screen and (max-width: 600px) {
  
  mat-card {
    overflow-y: auto;
  }
  /* mat-card {
    max-width: 100%;
    min-height: 100%;
    justify-content: center;
  } */
}


/* For all other devices and phones in landscape mode  */
@media screen and (min-width: 600px) {
  
  mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-height: 100%;
    max-width: 100%;
    overflow-y: auto; */
  }

  /* mat-card {
    display: block;
    max-width: 700px;
    justify-content: center;
    overflow-y: auto;
  } */

}