.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

app-navigation {
    min-height: 70px;
    height: 70px;
    max-height: 70px
}

mat-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em;
    max-width: 100%;
    overflow: hidden;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.table-container {
    max-width: 100%;
    flex-grow: 1;
    overflow-x: auto;
    min-height: 200px;
}

table {
    table-layout: auto;   
}

.filtered-no-value {
    color: white;
}

.filter-and-addbutton {
    display: flex;
    gap: 10px;
}

.filter-form-field {
    flex-grow: 1;
}


/* Custom directive styling */
.rowSelected {
    background-color: black;
  }
  /* //////////////////////// */

/* CSS for column selector card */
.column-selector-menu {
    display: flex;
    max-height: 200px;
    overflow-y: auto;
    width: 150px;
    --mat-menu-container-max-height: 200px;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 8px;
    background-color: black;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ////////////////////////////*/