mat-card {
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding: 2em;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1em;
  }

  .name-form-fields {
    width: 45%
  }

  .name-form-fields-container {
    display: flex;
    justify-content: space-between;
  }

  mat-checkbox {
    padding-top: -1em;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    overflow: auto;
  }

  .signup-login-submit-button {
    margin-top: 1em;
  }

  .image-card {
    max-width: 700px;
    min-width: 300px;
    margin: auto;
    padding: 2em;
  }

