.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

app-navigation {
  min-height: 70px;
  height: 70px;
  max-height: 70px;
} 

mat-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
  max-width: 100%;
  overflow: hidden;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.table-container {
  width: 100%;
  flex-grow: 1;
  overflow-x: auto;
  min-height: 200px;
}

.filtered-no-value {
color: white;
}

.mat-column-edit, .mat-column-delete {
  width: 60px;
  text-align: center;
  }