
.navigation-toolbar {
    display: flex;
    position: sticky;  
    /* position: fixed; */
    z-index: 1000;  /* push navbar over other components */
    /* min-height: 100%; */
    /* min-height: 90px; */
    height: 100%;
    min-width: 340px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .navigation-toolbar .spacer {
    flex: 1 1 auto;
  }
  
  .toolbar-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    font-size: 20px;
  }
  
  .menu-button {
    display: none;
  }
  

/* For phone in portrait  */
  @media (max-width: 800px) {
    .toolbar-buttons {
      display: none;
    }
  
    .menu-button {
      display: block;
    }
  }