
.navigation-toolbar {
    /* position: sticky;   */
    position: fixed;
    z-index: 1000;  /* push navbar over other components */
    height: 10%;
    min-height: 90px;
    min-width: 340px;
    font-size: 30px;
    font-weight: bold;

    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
  }

  .navigation-toolbar button {
    font-size: 20px;  
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .toolbar-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-button {
    display: none;
  }
  

/* For phone in portrait  */
  @media (max-width: 800px) {
    .toolbar-buttons {
      display: none;
    }
  
    .menu-button {
      display: block;
    }
  }